[submodule "Kicad files/random-keyboard-parts.pretty"]
	path = Kicad files/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty.git
[submodule "Kicad files/MX_Alps_Hybrid"]
	path = Kicad files/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
[submodule "USBaspLoader"]
	path = USBaspLoader
	url = https://github.com/coseyfannitutti/USBaspLoader.git
[submodule "Kicad files/OLED/KiCad-SSD1306_OLED-0.91-128x32"]
	path = Kicad files/OLED/KiCad-SSD1306_OLED-0.91-128x32
	url = https://github.com/MichMich/KiCad-SSD1306_OLED-0.91-128x32.git
[submodule "Kicad files/Type-C.pretty"]
	path = Kicad files/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty.git
